html {
	margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 14px;
  }
body {
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 0 auto;  
}
#content-wrap {
  padding: 2rem;
  position: relative;
  width: 100%;
  height: 12px;
  
}
#searchbar {
  padding: 13px;
  margin: -5px 35px; 
  width: 600px;
  opacity: 75%;
  border-radius: 24px;
  border-style: solid;
  border-width: thin;
  background-color: transparent;
  
}
/*.searchicon {
  background-image: url(./searchicon.png);
  background: no-repeat;
  width: 24px;
  height:24px;
  background-position: 10px 10px;
}
*/
#googleicon {
  width: 92px;
  height: 30px;
  border: 0;
  float: left;
  margin-top: 1px;
}
#header {
  width: 100%;
  overflow: hidden;
}

.topnav {
  overflow: hidden;
  height: 55px;
  width: 100%;
  border-bottom: solid 1px rgb(228, 228, 228);
  border-width: thin;
}


/*#page-container {
  position: relative;
   height: 20px;
}*/


.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: right;
  pointer-events: none;
  color: #aaa;
}
