html {
	margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 14px;
  }
body {
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: 50em;
}
#searchbar {
  padding: 10px;
  border-radius: 24px;
  margin: 20px 0px 15px 0px;
  width: 60%;
  background-color: transparent;
  opacity: 45%;
}
#googleicon {
  width: 92px;
  height: 30px;
  border: 0;
  float: left;
}
#content-wrap {
  padding-bottom: 2.5rem;
  position: relative;
  display: inline;
}
#header {
  width: 100%;
  overflow: hidden;
  height: 65px;
}
/*.topnav {
  overflow: hidden;
  height:100px;
  width:100%;
  display: inline;
}*/

/*#page-container {
  position: relative;
   height: 20px;
}*/